.btn-primary {
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem; /* 12px */
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    transition: all 0.2s;
}
.btn-primary:hover {
    background-color: #3b82f6; /* Accent */
    color: white;
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}

/* Утилита для черно-белого режима */
.grayscale {
    filter: grayscale(100%);
}

.group:hover .grayscale-0 {
    filter: grayscale(0%);
}

/* Убираем стандартный треугольник у details/summary */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}