@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --cursor-size: 20px;
}

body {
    background-color: #030303;
    cursor: none; /* Скрываем стандартный курсор для десктопа */
}

/* Возвращаем курсор на мобильных */
@media (max-width: 768px) {
    body { cursor: auto; }
}

/* Утилиты для текста */
::selection {
    background: #ffffff;
    color: #000000;
}

/* Плавная прокрутка */
html {
    scroll-behavior: smooth;
}